
<ion-content>
<div class="top"><h3 ng-model="date"> {{date}}</h3></div>
<div class="row">
   <div class="col col-33"></div>
   <div class="col col-33 col-center home">
 		<h1 class="textnote">1</h1>
   </div>
   <div class="col col-33"></div>
</div>

            <textarea ng-model="notes.note1" placeholder="The best thing of the day was:" max-lenght="200" rows
            ="4"></textarea>

<div class="row" style="position: absolute; bottom: 0px;">
	<div class="col col-50 footer_center footer_center">
		<i class="icon ion-ios-home-outline" ng-click="golist()"></i>
	</div>
	<div class="col col-50 footer_center">
		<i class="icon ion-ios-arrow-thin-right" ng-click="saveday()"></i>
	</div>
</div>
</ion-content>
 