<ion-content>
 
    <div class="div-icon-front">
     <i class="ion-ios-paperplane-outline icon-front"></i>
    </div>
              <div class="container_sign_in col">
              <button class="button button-block facebook icon-left ion-social-facebook" ng-click="loginFacebook()">
                Sign in with Facebook
              </button>
                <br>
              <button class="button button-block google icon-left ion-social-googleplus-outline" ng-click="loginGoogle()">
                Sign in with Google+
              </button>
            </div>

         
</ion-content>