/* Empty. Add your own CSS if you like */

.pane {

  background-color: #c8dfeb;
}
input, textarea{
  background-color: #c8dfeb;
  color: #585898;
}
textarea{
  text-align: center;
}
.home {
  display: table !important;
  width: 100% !important;
  height: 70% !important;
}
.home {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

h1, p, h3, h2 {
    font-family: 'Courier New';
    color: #585898;
}


.top {
	vertical-align: top;
  padding: 1em;
  text-align: center;
}

.bottom {
	
	vertical-align: bottom;
}

.div-icon-front{

  text-align: center;
  padding-top: 5em;
  padding-bottom: 5em;
}

.icon-front{
  font-size: 200px;
  color: #585898;
}

textarea{
  font-size: 22px;
  width: 90%;
  text-align: center;
  line-height: 40px;
  display: block;


}
.textnote{
	font-size: 132px;
  padding-top: 0.7em;
  text-align: center;


}

.singlenote{
  font-size: 22px;
  width: 90%;
  text-align: left;
  padding: 1em;
  margin: 1em;
  line-height: 40px
}

.icon {
  font-size: 40px;
  color: #585898;
}

.green{
  background-color:#088A68;
  color: #585898;
  text-align: left;
  font-size: 40px;
}

.col{
  border: none;
}

.cardstyle{
  font-size: 22px;
  color: white;
}

.container-sign-in {
  margin: 1em;
}

.facebook{
  color: #FAFAFA;
  background: #3b5998;
  padding: 0.5em;
}
.google{
  background: #c32f10;
  color: #FAFAFA;
  padding: 0.5em;
}

#footer_right{
  text-align: right;
}